:root {
    --light: #FFFFFF;
    --grey: #F5F5F5;
    --active: #15984B;
    --inactive: #BABACA;
    --primary: #164581;
}

body {
    font-size: 14px;
}

.container-page {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 10vh;
    width: 100%;
    background-color: var(--light);
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    text-align: center;
}

.main {
    padding: 10px 10vh 10px 10px;
    background-color: var(--grey);
    height: 100vh;
}

.container-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.25rem;
}

.container-filter_input {    
    min-height: 5vh;
    flex: 1 1 10vw; /*  Stretching: */
    flex: 0 1 20vw; /*  No stretching: */    
    border: 0;
    margin: 10px;
    padding-left: 10px;
    box-shadow: 0 0 4px rgba(0,0,0,.1);    
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--grey);
}

.list-item {
    background-color: var(--light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 20vh;
    margin: 20px 10px;
}

.list-item_container {
    display: flex;
    align-content: center;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    flex-grow: 1;
}

.list-item_section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.list-item_status {
    width: 10px;
    height: 10px;
    border-radius: 100px;
    margin: 5px;
    padding: 5px;
}

.list-item_status--active {
    background-color: var(--active);
}


.list-item_status--inactive {
    background-color: var(--inactive);
}

.list-item_links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.list-item_links-item {
    margin: 2px;
    padding: 2px;
    background-color: var(--primary);
    color: var(--light);
    text-decoration: none;
}

.list-item_image_image {
    max-height: 128px;
    min-width: 128px;
}

.list-item_title {
}

.list-item_description {
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 12px;
    font-weight: 400;
    color: #5a5a5a;
    padding: 5px 0;
    text-justify: center;
    max-width: 40vw;
    height: 15vh;
}
